$navfw: 300;
$navfsz: 2em;
$navcolor: #513764;
$headerbg: url(../img/4.jpg);
$headertitle: 3.5rem;
$textcolor: #513764;
$imagepack: ("1":"../img/5.jpeg", "2":"../img/6.jpg", "3":"../img/7.jpg");
$cardcolor: #896f8c;
$cardinnercolor: #cba2cc;
$formcolor: #9f86a3;
$footerbg: #5d3d86;
$footerbtn: #4f095d;
$footerh6: #b265f1;
$footera: #7a4abb;
$formtitle: #5e405a;
$cardstitle: #b897bf;